* {
    padding: 0;
    margin: 0;
 box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sue Ellen Francisco', cursive;
    height: 100vh;
    display: flex;
}
.col {
    /* border: 1px  solid black; */
    flex: 1;
    /* background: #ccc; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col h2{
   /* height:  fit-content;
width: fit-content; */
    
    font-size: 2rem;
    /* box-sizing: border-box; */
    padding: 10px;
    /* height: fit-content; */
    height: 200px;
padding: 10px;
color: #ffffff;
border-radius: 30px;
transition: background 0.3s;
}

.col h2:hover {
    background-position: 0 0, 0 0;
  
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;

    background: rgb(0,0,0,0.1);
    cursor: copy;
}

.col button{
    /* height: fit-content;
    width: fit-content; */

outline: none;
border: none;
background: transparent;
font-size: 1.5rem;
padding: 1px;
border-radius: 15px;
transition: background 0.3s;
/*color: #fff;*/
}

.col button :hover{
 
    padding: 0px ;
    background: rgb(0,0,0,0.1);
    cursor: pointer;
    border-radius: 25px;
    transition: background 0.3s;
    /* box-shadow: px 3px 5px rgba(0,0,0,0.15); */
    }

    
    @media screen and (max-width: 1030px) and (orientation: portrait) {
        html {

          transform: rotate(-90deg);
          transform-origin: left top;
          width: 100vmax;
          height: 100vmax;
          overflow-x: hidden;
          position: fixed;
          top: 100%;
          left: 0;
        }
        /* .col {
            /* width: 100vmax;
            height: 100vmax; */
        } 
      
     

      /* transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0; */
  